* {
	margin: 0px;
	padding: 0px;
}
div {
	width: 150px;
	height: 50px;
}

.sample1 {
	background-color: yellow;
	margin-bottom: 30px;
}
.sample2 {
	background-color: grey;
	margin-top: 20px;
	clear: both;
}
